#pulsante {
	//base
 outline: none;//rimuove contorno
 cursor: pointer;
 text-align: : center;
 text-decoration: none;
 font: bold 25px antema, antema, sans-serif;
 color: #fff;
 padding: 15px 40px;
 border: solid 2px #2d2d2d;
 background: #2d2d2d;
 margin-top: 50px;

//angoli
-moz-border-radius: 9px;
 -webkit-border-radius: 8px;
 border-radius: 8px;

//ombreggiatura
//-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
//-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
//box-shadow: 0 1px 3px rgba(0,0,0,0.5);

@font-face {
   font-family: 'antema';
   src: url('antema.otf') format('truetype');;
}


}


#pulsante:hover {
 background: #FF8800 !important;
 background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
 background: -webkit-linear-gradient(top,  #0078a5,  #00adee);
 background: -moz-linear-gradient(top,  #0078a5,  #00adee);
 background: -ms-linear-gradient(top,  #0078a5,  #00adee);
 background: -o-linear-gradient(top,  #0078a5,  #00adee);
 background: linear-gradient(top,  #0078a5,  #00adee);
}


#pulsante:active {
  position: relative;
  top: 1px;
//-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);


 -webkit-border-radius: 8px;

}





